<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893396521609-g6k2rku20a3h14paaqmlsn1n43o4jflo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893396521609-g6k2rku20a3h14paaqmlsn1n43o4jflo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>893396521609-qv6bnnd38gtf8q348met9m3mdr0smrkf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0B-z88zJVnyV-C-I-59CMVf4dO9dAPoE</string>
	<key>GCM_SENDER_ID</key>
	<string>893396521609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appNew</string>
	<key>PROJECT_ID</key>
	<string>fir-cli-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-cli-sample.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893396521609:ios:b6fcb651034613b32fac58</string>
</dict>
</plist>